<app-header [titleName] = "'Student Record Details'"></app-header>
<mat-spinner *ngIf = "isLoading"></mat-spinner>

<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>person</mat-icon>
        <div mat-line>Name: {{studentRecord?.name}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListIcon>credit_card</mat-icon>
        <div mat-line>StudentID: {{studentRecord?.studentID}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListIcon>grade</mat-icon>
        <div mat-line>Grade: {{studentRecord?.grade}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>

    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <!-- make sure the record only can be edit by autherized user -->
    <button mat-raised-button (click) = "onOpenEditDialog('Edit')" *ngIf = "isAuthed"> Edit </button>
    <button mat-raised-button (click) = "onUpdateRecord()"> OK </button>
  </mat-card-actions>
</mat-card>
