<app-header [titleName] = "'Students Records'"></app-header>

<mat-card>
  <mat-card-content>
    <form (ngSubmit) = "onSubmit(authForm)" #authForm = "ngForm" id = "authForm">
      <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput name = "email" ngModel #email = "ngModel" required email>
        <mat-error *ngIf = "email.hasError('required')"> email is required</mat-error>
        <mat-error *ngIf = "email.hasError('email')"> please input correct email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type = "password" name = "password" ngModel #password = "ngModel" required>
        <mat-error *ngIf = "password.invalid"> Password is required</mat-error>
      </mat-form-field>
    </form>

    <mat-error *ngIf = "loginFailed && authType === 'login'"> User name or password is not correct, and please input again.</mat-error>
    <mat-error *ngIf = "loginFailed && authType === 'signup'"> email has already been registered.</mat-error>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button form = "authForm" type = "submit" [disabled] = "authForm.invalid" *ngIf = "authType === 'signup' && !isLoading"> Sign Up </button>
    <button mat-raised-button form = "authForm" type = "submit" [disabled] = "authForm.invalid" *ngIf = "authType === 'login' && !isLoading"> Login </button>
    <mat-spinner *ngIf = "isLoading"></mat-spinner>
  </mat-card-actions>
</mat-card>
