<mat-toolbar color="primary">
  <div class = "home-btn">
    <a [routerLink] = "['/']" mat-icon-button> <mat-icon>home</mat-icon> </a>
  </div>
  <span>{{ titleName }}</span>
  <div>
    <a mat-button [routerLink] = "['/auth', 'signup']" *ngIf = "!isAuthed"> Sign Up</a>
    <a mat-button [routerLink] = "['/auth', 'login']" *ngIf = "!isAuthed"> Login</a>
    <button mat-button (click) = "onLogout()" *ngIf = "isAuthed"> Logout </button>
  </div>
</mat-toolbar>
