<h2 mat-dialog-title>{{ model }} Student Record</h2>

<mat-dialog-content>
  <form [formGroup]="recordForm" (ngSubmit)="onSubmit()" id="studentRecordForm">
    <mat-form-field>
      <mat-label> Student Name </mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf = "recordForm.get('name').invalid"> Student name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label> Student ID </mat-label>
      <input matInput formControlName="studentID" />
      <mat-error *ngIf = "recordForm.get('studentID').invalid"> Student ID is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label> Grade </mat-label>
      <input matInput formControlName="grade" />
      <mat-error *ngIf = "recordForm.get('grade').invalid"> Student grade is required</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
  <button mat-raised-button type="submit" form="studentRecordForm" [disabled] = "recordForm.invalid">
    {{ model === 'Add' ? 'Create' : 'Save' }}
  </button>
</mat-dialog-actions>
