mat-spinner {
  margin: 0 auto;
}

mat-card {
  width: 80%;
  margin: 1rem auto;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: 0;
}

.errorMsg {
  color: red;
}

.successfulMsg {
  color: green;
}

/* highlight sorting header */
::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 0.54 !important;
  transform: translateY(0px) !important;
}
