<app-header [titleName]="'Students Records'"></app-header>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card>
  <mat-card-title>
    <h3>There are {{ pageLength }} students records.</h3>
    <button
      mat-mini-fab
      color="primary"
      (click)="onOpenDialog('add')"
      *ngIf="isAuthed"
    >
      <mat-icon> add </mat-icon>
    </button>
  </mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content>
    <mat-hint
      [ngClass]="{ errorMsg: !!errorMsg, successfulMsg: !!successfulMsg }"
      *ngIf="!!errorMsg || !!successfulMsg"
    >
      {{ errorMsg ? errorMsg : successfulMsg }}
    </mat-hint>
    <mat-table [dataSource]="recordsDataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="studentID">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Student ID
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.studentID }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="grade">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Grade
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.grade }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="button-group">
            <button
              mat-icon-button
              matTooltip="view Record"
              [routerLink]="['edit', element._id]"
              [queryParams]="{ pageSize: pageSize, pageIndex: pageIndex }"
            >
              <mat-icon> visibility </mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Edit Record"
              (click)="onOpenDialog('edit', element)"
              *ngIf="isAuthed"
            >
              <mat-icon> edit </mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Delete Record"
              (click)="onDeleteRecord(element._id)"
              *ngIf="isAuthed"
            >
              <mat-icon> delete_forever </mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [length]="pageLength"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOption"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
